[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:hoapham2k2/nvim.git
[submodule "awesomewm/.config/awesome/awesome-wm-widgets"]
	path = awesomewm/.config/awesome/awesome-wm-widgets
	url = git@github.com:streetturtle/awesome-wm-widgets.git
